.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  /* width: 100%; */
}

.container > * {
  min-width: 20rem;
  max-width: 40rem;
}

img {
  border-radius: 3rem;
  /* flex: 1 0; */
  object-fit: cover;
  margin: 1rem;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 1rem;
  color: black;
  margin-left: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.favorite {
  color: #e72929;
  font-size: 2rem;
}

.favorite.not {
  color: grey;
}

.origins {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.origins span {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 2rem;
  background-color: aliceblue;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags a {
  background-color: #f0f0f0;
  padding: 0.2rem 0.8rem;
  margin: 0.1rem 0.1rem;
  font-size: 0.8rem;
  border-radius: 10rem;
  font-weight: 600;
  color: blue;
}

.cook-time {
  margin-top: 1rem;
}

.cook-time span {
  padding: 0.4rem 1.5rem 0.4rem 0;
  font-size: 1rem;
  border-radius: 10rem;
}

.price {
  font-size: 1.5rem;
  margin: 1rem 1rem 1rem 0;
  color: green;
}

.price::before {
  content: "Price: ";
  color: darkgrey;
}

button {
  color: white;
  background: #e72929;
  border: none;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 10rem;
  outline: none;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 3rem;
  }

  .container > * {
    min-width: 25rem;
    max-width: 40rem;
  }

  img {
    height: 35rem;
  }

  .details {
    padding: 2rem;
  }

  .name {
    font-size: 2rem;
  }

  .favorite {
    font-size: 2.5rem;
  }

  .origins span {
    font-size: 1.2rem;
  }

  .tags a {
    padding: 0.3rem 1rem;
    margin: 0.2rem 0.15rem;
    font-size: 1rem;
  }

  .cook-time span {
    padding: 0.6rem 2rem 0.6rem 0;
    font-size: 1.3rem;
  }

  .price {
    font-size: 1.8rem;
    margin: 2rem 2rem 2rem 0;
  }

  button {
    font-size: 1.2rem;
    padding: 1rem;
  }
}
