<app-title title="Change Password" />
<form [formGroup]="passwordForm" (ngSubmit)="submit()">
  <text-input
    type="password"
    label="Current Password"
    [control]="fc.password"
    [showErrorsWhen]="isSubmitted"
  />
  <text-input
    type="password"
    label="New Password"
    [control]="fc.newPassword"
    [showErrorsWhen]="isSubmitted"
  />
  <text-input
    type="password"
    label="Confirm Password"
    [control]="fc.confirmNewPassword"
    [showErrorsWhen]="isSubmitted"
  />

  <default-button text="Change" />
</form>
